:root {
  --primary-color: #8e43e7;
  --text-color: #212529;
  --text-color-gray: #4c4c4c;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-dark-alpha: #343a4080;
  --gray-light: #f8f9fa;
  --breakpoint-xl: 1200px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --primary-font: 'Roboto', sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-weight: 400; }

.container {
  width: 100%;
  display: grid;
  grid-template-rows: minmax(min-content, 100vh) minmax(min-content, 15vh) repeat(4, min-content);
  grid-template-columns: 1fr repeat(8, minmax(max-content, 14rem)) 1fr;
  /* // @media only screen and (max-width: $bp-large) {
  //     grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  //     grid-template-columns:  [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  // }
  // @media only screen and (max-width: $bp-medium) {
  //     grid-template-rows: 6rem calc(100vh - 6rem);
  // } */ }

.primary-color-text {
  color: var(--primary-color); }

.cta-btn {
  color: var(--white);
  background-color: var(--primary-color);
  padding: 1.2rem 2.5rem;
  font-size: 1.4rem;
  border: 2px solid var(--primary-color);
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .2s; }

.cta-btn:hover {
  transform: scale(1.05); }

.learn-more-icon {
  font-size: 1.4rem; }

@media only screen and (max-width: 576px) {
  html {
    font-size: 52.5%; } }

header {
  display: block;
  background-color: var(--white); }

h1 {
  font-size: 4.2rem;
  color: var(--primary-color);
  font-weight: 400; }

.header {
  grid-column: 1 / -1;
  background-color: var(--white);
  margin-bottom: 1rem; }

.nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-basis: auto;
  box-shadow: 1px 3px 8px 3px rgba(8, 8, 8, 0.08); }
  .nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto; }
    .nav__list-item {
      cursor: pointer;
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 2px;
      color: var(--text-color-gray);
      float: left;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-bottom: 3px;
      transition: all .4s;
      border-bottom: 2px solid transparent; }
    .nav__list-item:hover {
      color: var(--primary-color);
      border-bottom: 2px solid var(--primary-color); }

.search-icon {
  margin-left: 10rem;
  margin-right: 15rem; }

.logo-heading {
  padding-left: 2rem;
  font-weight: 700; }

.hero {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  height: 80%; }
  .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 15rem 4rem 10rem 7rem; }
    .hero-description__heading {
      position: relative;
      color: var(--text-color);
      font-weight: 600;
      font-size: 5rem;
      padding-bottom: 2rem; }
    .hero-description__heading::after {
      content: '';
      background: var(--primary-color);
      width: 10rem;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 1.5rem; }
    .hero-description__paragraph {
      font-size: 1.8rem;
      color: var(--gray);
      margin-bottom: 3rem; }
  .hero-image {
    margin-top: 2rem;
    height: 100%;
    background: center url(../img/hero-img.jpg) no-repeat;
    background-size: cover;
    min-height: 25vw;
    border-radius: 150px 0 0 150px; }

@media only screen and (max-width: 900px) {
  .hero {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr; }
    .hero-image {
      margin-left: 4rem; }
  .nav__list {
    display: none; } }

@media only screen and (max-width: 500px) {
  .hero-description {
    padding: 5rem 2rem 2rem 2rem;
    margin: 0 auto;
    text-align: center;
    align-items: center; }
  .hero-description__heading::after {
    left: 38%; }
  .hero-image {
    min-height: 10vw;
    margin-left: 1rem; } }

.brands {
  margin-top: 2rem;
  grid-column: 2 / -2;
  background-color: var(--white); }
  .brands__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center; }
  .brands__heading {
    position: relative;
    font-size: 4rem;
    font-weight: 300;
    color: #343a40;
    letter-spacing: 1px;
    padding-bottom: 2rem; }
  .brands__heading::after {
    content: '';
    background: var(--primary-color);
    width: 8rem;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 1.5rem; }
  .brands__list {
    display: flex;
    justify-content: space-around;
    padding: 8rem 0 8rem 0;
    list-style-type: none; }

ion-icon {
  font-size: 8rem;
  color: var(--primary-color); }

ion-icon[name='flame'] {
  color: #c98900; }

@media only screen and (max-width: 500px) {
  .brand__heading {
    margin-bottom: 1rem; }
  .brand__list {
    padding: 7rem 1rem 7rem 1rem; } }

.blog {
  grid-column: 1 / -1;
  background-color: var(--gray-light); }
  .blog__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 6rem 0 6rem 0;
    width: 114rem; }
  .blog__heading {
    position: relative;
    font-size: 3.8rem;
    font-weight: 300;
    color: #343a40;
    letter-spacing: 1px;
    padding-top: 5rem;
    margin-bottom: 4rem;
    padding-bottom: 2rem; }
  .blog__heading::after {
    content: '';
    background: var(--primary-color);
    width: 8rem;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 1.5rem; }
  .blog__paragraph {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    padding: 0 2rem 0 2rem;
    color: var(--gray-dark-alpha);
    margin-bottom: 10rem; }
  .blog__package-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw; }
    .blog__package-grid-item {
      cursor: pointer;
      border-radius: 1.5rem;
      width: 100%;
      transition: all .5s; }
    .blog__package-grid-item:hover {
      width: 100%;
      transform: scale(1.1); }
  .blog-img {
    width: 100%; }

.item-bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.13);
  padding: 1.5rem; }
  .item-bottom-heading {
    text-align: start;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--gray-dark);
    margin-bottom: 1rem; }
  .item-bottom a {
    display: flex;
    align-items: center;
    color: #999;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-decoration: none; }
    .item-bottom a .learn-more-icon {
      margin-right: 1rem; }

@media only screen and (max-width: 1200px) {
  .blog__container {
    width: 90vw; }
  .blog__package-grid {
    padding: 2rem;
    gap: 4rem; } }

@media only screen and (max-width: 800px) {
  .blog__heading {
    padding-top: 0; }
  .blog__paragraph {
    margin-bottom: 5rem;
    padding: 0; }
  .blog__container {
    width: 70vw; }
  .blog__package-grid {
    gap: 4rem; }
    .blog__package-grid-item {
      grid-column: 1/ -1; } }

.services {
  grid-column: 2 / -2;
  background-color: var(--gray-light); }

.shipping {
  grid-column: 1 / -1;
  background-color: seagreen; }

.testimonials {
  grid-column: 1/ -1;
  background-color: slategray; }

.footer {
  grid-column: 1 / -1;
  background-color: steelblue; }
