header {
  display: block;
  background-color: var(--white);
}

h1 {
  font-size: 4.2rem;
  color: var(--primary-color);
  font-weight: 400;
}

.header { 
  grid-column: 1 / -1;
  background-color: var(--white);
  margin-bottom: 1rem;
}

.logo {
  margin-left: 2rem;
}
.nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-basis: auto;
  box-shadow: 1px 3px 8px 3px rgba(8, 8, 8, 0.08);
  width: 100%;
  z-index: 1000;
  background-color: var(--white);

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    &-item a {
      text-decoration: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 2px;
      color: var(--gray);
      float: left;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-bottom: 3px;
      transition: all .2s;
    }
    &-item a:hover{
      color: var(--primary-color);
    }
  }
}
.search-icon {
  margin-left: 10rem;
  margin-right: 5rem;
}
.logo-heading {
  padding-left: 2rem;
  font-weight: 700;
}

.hero {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  height: 80%;

  &-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 15rem 4rem 10rem 7rem;
    &__heading {
      position: relative;
      color: var(--text-color);
      font-weight: 600;
      font-size: 5rem;
      padding-bottom: 2rem;
    }
    &__heading-2 {
      position: relative;
      color: var(--text-color);
      font-weight: 500;
      font-size: 3.67rem;
      padding-bottom: 2rem;
    }
    &__heading::after {
      content: '';
      background: var(--primary-color);
      width: 10rem;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 1.5rem;
    }
    &__paragraph {
      font-size: 1.8rem;
      color: var(--gray);
      margin-bottom: 3rem;
    }
  }
  
  &-image {
    margin-top: 2rem;
    // width: 100%;
    height: 100%;
    background: center url(../img/hero-img.jpg) no-repeat;
    background-size: cover;
    min-height: 25vw;
    border-radius: 150px 0 0 150px;
  }
  &-image-2 {
    margin-top: 2rem;
    // width: 100%;
    height: 100%;
    background: center url(../img/hero-img-2.jpg) no-repeat;
    background-size: cover;
    min-height: 25vw;
    border-radius: 150px 0 0 150px;
  }
}

.search-icon {
  font-size: 3rem;
}

////////////////////////////////////
// Collapsable Hamburger Menu
////////////////////////////////////

.menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.hamburger__menu {
  font-size: 4rem;
  color: var(--primary-color);
  padding: 1rem;
  margin-right: 2rem;
  line-height: 7rem;
}


.toggle {
  display: none;
}
#toggle {
  display: none;
}




// MEDIA QUERIES

@media only screen and (max-width: 1200px) {
  .search-icon {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .search-icon {
    margin-right: 3.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .hero {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    
    &-image {
      margin-top: 0;
      margin-left: 4rem;
      margin-bottom: 4rem;
    }
  }

  .toggle {
    display: block;
    cursor: pointer;
    font-size: 4rem;
    color: var(--primary-color);
    margin-right: 5rem;
  }
  
  .nav__list {
    position: absolute;
    display: none;
    width: 100vw;
    top: 69px;
    left:.5px;
    right: .5px;
    transition: all .2s ease-in-out;
  }

  
  .nav__list-item {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid var(--gray);
    padding: 2rem;
    z-index: 1000;
    background-color: rgb(255, 255, 255);

    &:nth-child(1) {
      border-top: 1px solid;
    }
  }

  #toggle:checked + .nav__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    z-index: 1000;
  }

  .search-icon {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 576px) {
  .header { 
    margin-bottom: 0rem;
  }
  .nav__list {
    top: 55px;
  }
} 

@media only screen and (max-width: 500px) {

  .logo {
    font-size: 4rem;
  }
  .hero {
    grid-template-rows: 1fr;
  }
  
  .hero-description {
    padding: 5rem 2rem 0rem 2rem;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('/img/hero-img.jpg');

    &__paragraph {
      color: black;
      text-shadow: rgba(8, 8, 8, 0.08);
    }
  }
  .hero-description__heading::after {
    left: 38%;
  }

  .hero-image, .hero-image-2 {
    display: none;
  }
}