header {
  display: block;
  background-color: var(--white);
}

h1 {
  font-size: 4.2rem;
  color: var(--primary-color);
  font-weight: 400;
}

.header { 
  grid-column: 1 / -1;
  background-color: var(--white);
  margin-bottom: 1rem;
}

.nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-basis: auto;
  box-shadow: 1px 3px 8px 3px rgba(8, 8, 8, 0.08);
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    &-item {
      cursor: pointer;
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 2px;
      color: var(--text-color-gray);
      float: left;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-bottom: 3px;
      transition: all .4s;
      border-bottom: 2px solid transparent;
    }
    &-item:hover {
      color: var(--primary-color);
      border-bottom: 2px solid var(--primary-color);
    }
  }
}
.search-icon {
  margin-left: 10rem;
  margin-right: 15rem;
}
.logo-heading {
  padding-left: 2rem;
  font-weight: 700;
}

.hero {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  height: 80%;
  &-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 15rem 4rem 10rem 7rem;
    &__heading {
      position: relative;
      color: var(--text-color);
      font-weight: 600;
      font-size: 5rem;
      padding-bottom: 2rem;
    }
    &__heading::after {
      content: '';
      background: var(--primary-color);
      width: 10rem;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 1.5rem;
    }
    &__paragraph {
      font-size: 1.8rem;
      color: var(--gray);
      margin-bottom: 3rem;
    }
  }
  
  &-image {
    margin-top: 2rem;
    // width: 100%;
    height: 100%;
    background: center url(../img/hero-img.jpg) no-repeat;
    background-size: cover;
    min-height: 25vw;
    border-radius: 150px 0 0 150px;
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    
    &-image {
      margin-left: 4rem;
    }
  }
  .nav__list {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .hero-description {
    padding: 5rem 2rem 2rem 2rem;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  .hero-description__heading::after {
    left: 38%;
  }

  .hero-image {
    min-height: 10vw;
    margin-left: 1rem;
  }
  
}